@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helvetica";
  src: url("/src/assets/fonts/HelveticaNeueRegular.woff2") format("woff2"),
    url("/src/assets/fonts/HelveticaNeueRegular.woff") format("woff"),
    url("/src/assets/fonts/HelveticaNeueRegular.ttf") format("woff");
}

html,
body {
  height: 100vh;
}
#root {
  height: 100vh;
}
.App {
  height: 100vh;
}
.center-container {
  margin: 0 auto;
}
